[user]
	email = jeremy.dormitzer@gmail.com
	name = Jeremy Dormitzer

[credential]
	helper = cache --timeout=3600
	username = jdormit

[core]
        pager = ""
        excludesfile = ~/.gitignore_global

[alias]
        out = !gitout
        inc = !gitinc
        serve = !git daemon --reuseaddr --verbose  --base-path=. --export-all ./.git
        whois = "!sh -c 'git log -i -1 --pretty=\"format:%an <%ae>\n\" --author=\"$1\"' -"
        whatis = show -s --pretty='tformat:%h (%s, %ad)' --date=short
        graph = log --graph --pretty=tformat:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
        untrack = rm --cache
        alias = "!sh -c '[ $# = 2 ] && git config --global alias.\"$1\" \"$2\" && exit 0 || echo \"usage: git alias <new alias> <original command>\" >&2 && exit 1' -"
        aliases = !git config --get-regexp 'alias.*' | colrm 1 6 | sed 's/[ ]/ = /'
        unstage = reset HEAD --
        append = commit --amend --no-edit
        changes = log -p -1 --
	ls = log --pretty=tformat:\"%C(green)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]\" --decorate
	ll = log --pretty=tformat:\"%C(green)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]\" --decorate --numstat
        
[push]
	default = simple
